# deny most common except .php
<FilesMatch "\.(inc|tpl|h|ihtml|sql|ini|conf|class|bin|spd|theme|module)$">
deny from all
</FilesMatch>
                           
<IFModule mod_rewrite.c>   
	RewriteEngine On 
	RewriteRule ^index.html arshia/index.php [L]
	RewriteRule ^search.html arshia/index.php?item=search&act=do [L]
	RewriteRule ^about-us.html arshia/index.php?item=about [L]
	RewriteRule ^gallery.html arshia/index.php?item=gallery [L]
	RewriteRule ^articles.html arshia/index.php?item=articles [L]
	RewriteRule ^contact.html arshia/index.php?item=contact [L]
	RewriteRule ^documentation.html arshia/index.php?item=documentation [L]
	RewriteRule ^conference.html arshia/index.php?item=conference [L]
	RewriteRule ^visits.html arshia/index.php?item=visits [L]
	RewriteRule ^menupage([0-9]+).html arshia/index.php?item=menu&id=$1 [L]
	RewriteRule ^articles.html arshia/index.php?item=articles [L]
	RewriteRule ^construction.html arshia/index.php?item=construction&act=do [L]
	RewriteRule ^research.html arshia/index.php?item=research&act=do [L]
	RewriteRule ^regeneration.html arshia/index.php?item=regeneration&act=do [L]
	RewriteRule ^menu.html arshia/index.php?item=menu&act=do [L]
	RewriteBase /

#Skip WWW	
	#RewriteCond %{HTTP_HOST} ^www.arshia-co.com [NC] 
	#RewriteRule ^(.*)$ http://arshia-co.com/$1 [L,R=301]
#Add WWW		
	RewriteCond %{HTTP_HOST} ^arshia-co.com$ [NC]
	RewriteRule ^(.*)$ http://www.arshia-co.com/$1 [L,R=301]	
	
# proc/self/environ? no way!
	RewriteCond %{QUERY_STRING} proc/self/environ [OR]

	# Block out any script trying to set a mosConfig value through the URL
	RewriteCond %{QUERY_STRING} mosConfig_[a-zA-Z_]{1,21}(=|\%3D) [OR]

	# Block out any script trying to base64_encode crap to send via URL
	RewriteCond %{QUERY_STRING} base64_encode.*(.*) [OR]

	# Block out any script that includes a <script> tag in URL
	RewriteCond %{QUERY_STRING} (<|%3C).*script.*(>|%3E) [NC,OR]

	# Block out any script trying to set a PHP GLOBALS variable via URL
	RewriteCond %{QUERY_STRING} GLOBALS(=|[|\%[0-9A-Z]{0,2}) [OR]

	# Block out any script trying to modify a _REQUEST variable via URL
	RewriteCond %{QUERY_STRING} _REQUEST(=|[|\%[0-9A-Z]{0,2})

	# Send all blocked request to homepage with 403 Forbidden error!
	RewriteRule ^(.*)$ index.php [F,L]	

</IFModule>
# ErrorDocument 404 http://www.arshia-co.com/404.php
# Enable / Disable directory Listing/Browsing
Options -Indexes
IndexOptions -FancyIndexing
ServerSignature Off

#RewriteCond %{HTTP_HOST} ^arshia-co.com$
#RewriteRule ^/?$ "http\:\/\/www\.arshia-co\.com\/" [R=301,L]
